.table {
  font-size: 15px;
}
 .inf {
width: 130px;
height: 40px;
}
.moreInf {
  position: relative;
  height: 100px;
}
.ava {
top: 5%;
z-index: 99;}
.infs {
  /* background-color: bisque; */
  border:1px solid blue;
  padding: 50px 30px;
  border-radius: 10px;
}